piccws/src/main/webapp/META-INF/PICCService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.app.epicc.com.cn" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.app.epicc.com.cn" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>PICCService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.app.epicc.com.cn">
            <xs:element name="sendIDInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendIDInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="sendIDInfoRequest">
    <wsdl:part name="parameters" element="ns:sendIDInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendIDInfoResponse">
    <wsdl:part name="parameters" element="ns:sendIDInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PICCServicePortType">
    <wsdl:operation name="sendIDInfo">
      <wsdl:input message="ns:sendIDInfoRequest" wsaw:Action="urn:sendIDInfo">
    </wsdl:input>
      <wsdl:output message="ns:sendIDInfoResponse" wsaw:Action="urn:sendIDInfoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PICCServiceSoap12Binding" type="ns:PICCServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendIDInfo">
      <soap12:operation soapAction="urn:sendIDInfo" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PICCServiceSoap11Binding" type="ns:PICCServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendIDInfo">
      <soap:operation soapAction="urn:sendIDInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PICCServiceHttpBinding" type="ns:PICCServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="sendIDInfo">
      <http:operation location="sendIDInfo"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PICCService">
    <wsdl:port name="PICCServiceHttpSoap11Endpoint" binding="ns:PICCServiceSoap11Binding">
      <soap:address location="http://219.142.99.204:8301/piccws/services/PICCService.PICCServiceHttpSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="PICCServiceHttpSoap12Endpoint" binding="ns:PICCServiceSoap12Binding">
      <soap12:address location="http://219.142.99.204:8301/piccws/services/PICCService.PICCServiceHttpSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="PICCServiceHttpEndpoint" binding="ns:PICCServiceHttpBinding">
      <http:address location="http://219.142.99.204:8301/piccws/services/PICCService.PICCServiceHttpEndpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
